<div id="content">
	<div id="carousel-id" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-id" data-slide-to="0" class=""></li>
			<li data-target="#carousel-id" data-slide-to="1" class=""></li>
			<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item">
				<img alt="First slide" src="__PUBLIC__/Home/IMG/adr/adr_21.jpg">
				<div class="container">
					<div class="carousel-caption">
						<div class="input-group">  
					       <input type="text" class="form-control" placeholder="请输入字段名" / >  
				            <span class="input-group-btn">  
				               <button class="btn btn-info btn-search"><span class="glyphicon glyphicon-search"></span></button> 
				            </span>  
						</div> 
					</div>
				</div>
			</div>
			<div class="item">
				<img alt="Second slide" src="__PUBLIC__/Home/IMG/adr/adr_23.jpg">
				<div class="container">
					<div class="carousel-caption">
						<div class="input-group">  
					       <input type="text" class="form-control" placeholder="请输入字段名" / >  
				            <span class="input-group-btn">  
				               <button class="btn btn-info btn-search"><span class="glyphicon glyphicon-search"></span></button> 
				            </span>  
						</div> 
					</div>
				</div>
			</div>
			<div class="item active">
				<img alt="Third slide" src="__PUBLIC__/Home/IMG/adr/adr_25.jpg">
				<div class="container">
					<div class="carousel-caption">
						<div class="input-group">  
					       <input type="text" class="form-control" placeholder="请输入字段名" / >  
				            <span class="input-group-btn">  
				               <button class="btn btn-info btn-search"><span class="glyphicon glyphicon-search"></span></button> 
				            </span>  
						</div> 
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>