<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>个人中心</title>
	<!-- 引用bootstrap,angular,jquery.j及默认样式 -->
	<include file="Public/head"/>
	<link href="__PUBLIC__/Home/CSS/personalCenter.css" rel="stylesheet" type="text/css">	
</head>
<body>
	<!-- 头部nav -->
	<include file="Public/header"/>
	<div class="item_bg">
		<div class="container">
			<nav class="navbar ">
			    <div class="container-fluid">
			    	<span class="col-xs-0 col-lg-3"></span>
				    <div class="navbar-header">
				        <button type="button" class="navbar-toggle" data-toggle="collapse"
				                data-target="#example-navbar-collapse">
				            <span class="sr-only">切换导航</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
				        <a class="navbar-brand" href="#">我的信息</a>
				    </div>
				    <div class="collapse navbar-collapse" id="example-navbar-collapse">
				        <ul class="nav navbar-nav">
				            <li class=""><a href="#">我的窝</a></li>
				            <li class=""><a href="#">我的游记</a></li>
				            <li class=""><a href="#">我的问答</a></li>
				            <li class=""><a href="#">我的足迹</a></li>
				            <li class=""><a href="#">我的点评</a></li>
				            <li class="dropdown">
				                <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
				                <ul class="dropdown-menu">
				                    <li><a href="#">我的收藏</a></li>
				                    <li><a href="{:U('Dingdan/index')}">我的订单</a></li>
				                    <li><a href="#">常用信息</a></li>
				                </ul>
				            </li>
				        </ul>
				    </div>
			    </div>
			</nav>
		</div>
	</div>
	<div class="container go_to">
		<div class="row">
			<div class="col-lg-3 item_info">
				<div class="item_img">
					<div class="myImg">
						<img src="http://a3-q.mafengwo.net/s10/M00/48/B5/wKgBZ1kAeeiAXfnNAABXZKqrvCE90.jpeg" alt="">
					</div>
					<div class="myName">
						<span>马蜂窝用户</span>
						<img src="__PUBLIC__/HomeEd/img/sexn.png" id="my_sex">
					</div>
					<div class="myAdd">
						<span>等级：</span>
						<span>Lv.1</span> | 
						<span>现居：</span>
						<span>福州</span> | 
						<img src="__PUBLIC__/HomeEd/img/set_up.png" id="set_up">
					</div>
					<div class="myNota">
						<span>填写个人简介</span>
					</div>
					<div class="nota">
						<textarea></textarea>
						<span class="preserved">保存</span>
					</div>
					<div class="myFollow">
						<div class="follow">
							<strong>1</strong>
							<p>关注</p>
						</div>
						<div class="fans">
							<strong>0</strong>
							<p>粉丝</p>
						</div>
						<div class="honey">
							<strong>0</strong>
							<p>蜂蜜</p>
						</div>
					</div>
					<div class="item_follow">
						<span class="item_follow_title">我的关注</span>
						<div class="item_follow_character">
							<img src="http://a4-q.mafengwo.net/s10/M00/E8/CD/wKgBZ1iZk2SAGbKsAAME0TWzCHE45.jpeg">
							<p><a href="#">蚂小蜂</a></p>
						</div>
					</div>
					<div class="item_message_board">
						<span class="item_follow_title">留言板</span>
						<div class="message_board">
							<textarea placeholder="说点什么吧..."></textarea>
						</div>
						<span class="preserved">留言</span>
					</div>
					<!--留言板-->
					<div class="nota_show">
						
					</div>	
				</div>
			</div>
			<!--右内容区-->
			<div class="col-lg-9">
				<div class="common_block">
					<ul>
						<li><a href="#">写游记</a></li>
						<li><a href="#">问达人</a></li>
						<li><a href="#">添加足迹</a></li>
						<li><a href="#">发布结伴</a></li>
					</ul>
				</div>
				<div class="travel_notes">
					<div class="travel_notes_btn">
						<h3>我的游记</h3>
						<button type="button" class="btn btn-warning glyphicon glyphicon-edit" id="travel_notes">写游记</button>
					</div>
					<img src="__PUBLIC__/HomeEd/img/tn.png">
				</div>
				<div class="travel_notes my_answer">
					<div class="travel_notes_btn">
						<h3>我的回答</h3>
						<div id="my_answer">
							<span class="wer">蚂蜂窝问答是一个所有人帮所有人的平台，</span>
							<span>用你的旅行经验，去帮助其他蜂蜂。</span>
						</div>
						
					</div>
				</div>
				<div class="travel_notes my_comment">
					<div class="travel_notes_btn">
						<h3>我的点评</h3>
						<div id="my_comment">
							<span class="wer">点评，不仅是旅途记忆，</span>
							<span>更是帮助他人的宝贵财富。</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--返回顶部-->
		<div id="top">
			<div class="code_return">
				<img src="__PUBLIC__/HomeEd/img/top.png">
			</div>
			<div class="code_return code">
				<img src="__PUBLIC__/HomeEd/img/code.png">
			</div>
		</div>
	</div>
	<!-- 底部版本信息等 -->
	<include file="Public/footer"/>
	
</body>
<script>
	angular.module('myApp', []).controller('home', function($scope, $http) {
		$scope.login="{$login}";
		
		$http({
            url:"{:U('user/scech')}",
            method:'post',   
              data:{'id':$scope.login.id},
              headers:{'Content-Type':'application/x-www-form-urlencoded'},
              transformRequest: transform 
            }).then(function(response){
               console.log(response.data.data);
               $scope.user=response.data.data;
               // console.log($scope.chn);
            }).catch(function (res) {
              // alert('修改失败未知错误');
              console.log(res);
          });
	})


</script>
</html>