@CHARSET "UTF-8";
   .left{
	    width:550px;
   		height:400px;
   		float:left;
   }
   .right{
		width:550px;
   		height:400px;
   		float:left;
   }
   a{
	text-decoration: none;
   }
   dl a{
	background-color: transparent;
    text-decoration: none;
    color:#666;
   	list-style: none;
    cursor: pointer;
   }
   dl a:hover{
	color:#ff9d00;
   }
   dl dt{   
   	margin:8px;
	display:inline-block;
   }
	dl dd{
	margin:8px;	
	display:inline-block;
   }
   dl dd a{
	margin-left:5px;
   }
.month a{
	float:left;
    padding-bottom: 12px;
    color: #666;
	display: inline-block;
	border-bottom: 3px solid white;
	font-size: 18px;
}
.month a:hover{
	color: #ff9d00;
	text-decoration: none;
    border-bottom: 3px solid #ff9d00;
}
.month span{
	float:right;
    display: inline-block;
    margin-top: 3px;
    width: 1px;
    height: 15px;
    background-color: #eee;
    overflow: hidden;
    vertical-align: middle;
}